body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexColor {
  text-transform: capitalize;
}

.hex {
  font-size: 3rem;
}

.container {
  text-align: center;
}

.hexBtn {
  color: red;
  border: 3px solid red;
  border: radius 7px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  padding: 0.25rem 0.5rem;
}

.hexBtn:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
}
